{% extends "base.html" %}

{% block title %}
    EFARS - About
{% endblock title %}

{% block content %}
    <div class="container-fluid my-5 py-4 text-white bg-primary">
        <h1 class="text-center">About</h1>
    </div>

    <main role="main">
        <div class="container">


            <img class="img-fluid mx-auto d-block" width="500px" src={{ url_for('static', filename='img/logo.svg') }}/>

            <hr>

            <p class="lead text-left">
                EFARS is a non-profit open source project that provides a service to users. Its purpose is to analyze
                and visualize the data uploaded to the site by the user, to make this processed data more meaningful for
                later purposes, and finally to return it to the user as a report.
            </p>


        </div>
    </main>
{% endblock content %}