{% extends "base.html" %}

{% block title %}
    EFARS - Terms & Conditions
{% endblock title %}

{% block content %}
    <div class="container-fluid my-5 py-4 text-white bg-primary">
        <h1 class="text-center">Terms & Conditions</h1>
    </div>

    <main role="main">
        <div class="container">


            <img class="img-fluid mx-auto d-block" width="500px" src={{ url_for('static', filename='img/logo.svg') }}/>

            <hr>

            <p class="lead text-left">
                EFARS was planned as a completely open source project before it got coded. Accordingly, it is licensed
                under the <a href="https://www.gnu.org/licenses/gpl-3.0.html" class="link-primary"
                             style="text-decoration: none">GPLv3</a>. Therefore, you are free to contribute and support
                the further development of this project. If you have any questions, feel free to contact me via GitHub.
            </p>


        </div>
    </main>
{% endblock content %}