#drop-area {
    border: 2.5px dashed #CCCCCCFF;
    border-radius: 20px;
    width: 480px;
    margin: 50px auto;
    padding: 20px;
}

#drop-area.highlight {
    border-color: #0D6EFD;
}

#fileElem {
    display: none;
}