<footer class="mt-auto fixed-bottom bg-white fade-in" id="footer-comp">
    <div class="container">
        <nav class="navbar navbar-expand">
            <ul class="navbar-nav flex-fill">
                <li class="nav-item">
                    <a class="nav-link text-primary" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="{{ url_for('terms_conditions') }}">Terms & Conditions</a>
                </li>
            </ul>

            <div class="navbar-nav flex-row nav-login-colors-link text-primary mx-2">
                EFARS © 2022
            </div>
        </nav>
    </div>
</footer>