<footer class="mt-auto pb-3 fixed-bottom">
  <nav class="navbar navbar-expand">
    <ul class="navbar-nav flex-fill">
      <li class="nav-item">
        <a class="nav-link text-primary" href="{{ url_for('about') }}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary" href="{{ url_for('terms_conditions') }}">Terms & Conditions</a>
      </li>
{#      <li class="nav-item">#}
{#        <a class="nav-link text-primary" href="#">FOOTER-3</a>#}
{#      </li>#}
    </ul>

    <div class="navbar-nav flex-row nav-login-colors-link mx-2">
      FOOTER-R
    </div>

    <div class="navbar-nav flex-row nav-login-colors-link mx-2">
        <a class="btn btn-sm text-primary" href="#" target="_blank" role="button">
            <img class="align-top" src={{ url_for('static', filename='img/github.svg') }}/>
            GitHub
        </a>
    </div>
  </nav>
</footer>

