<nav class="navbar navbar-expand-lg">
  <div class="container">

    <a class="text-primary" href={{ url_for('index') }}>
        <img width="80" src={{ url_for('static', filename='img/logo.svg') }}/>
    </a>

    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <div class="d-grid d-md-block">
            <div class="dropdown">
                <button type="button" class="btn btn-sm dropdown-toggle text-primary" data-bs-toggle="dropdown" aria-expanded="false">
                    LANG
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">First</a></li>
                    <li><a class="dropdown-item" href="#">Second</a></li>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</nav>