<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">

    <a class="navbar-brand text-primary" href="#">Navbar</a>

    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <div class="d-grid d-md-block">

            <button type="button" class="btn btn-sm dropdown-toggle text-primary" data-bs-toggle="dropdown" aria-expanded="false">
                LANG
            </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">First</a></li>
                    <li><a class="dropdown-item" href="#">Second</a></li>
                </ul>

            <a class="btn btn-sm text-primary" href="#" target="_blank" role="button">
                <img class="align-top" src={{ url_for('static', filename='img/github.svg') }}/>
                GitHub
            </a>
        </div>
      </div>
    </div>
  </div>
</nav>